@using PSP.Domain
@model IList<groups>

@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<h2>Index</h2>

<body>
    <div class="panel panel-primary">
        <div class="panel-heading">Пользователи</div>
        <div class="panel-body">
            <div>
                @foreach (var group in Model)
                {
                    <div class="list-group-item">
                        <h4>@group.Name</h4>
                    </div>
                    <div class="list-group">
                        @foreach (var user in group.users.ToList())
                        {
                            {
                                @Html.ActionLink(user.Name, "UserInfo", "Home", new { us = user.ID }, new { @class = "list-group-item modal-link", title = "Add Note" })
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</body>
